<!-- BEGIN Cart Dropdown -->
<li ngbDropdown class="nav-item dropdown dropdown-cart me-25">
  <a ngbDropdownToggle class="nav-link" href="#" data-bs-toggle="dropdown"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      width="14"
      height="14"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-shopping-cart ficon"
    >
      <circle cx="9" cy="21" r="1"></circle>
      <circle cx="20" cy="21" r="1"></circle>
      <path
        d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"
      ></path></svg
    ><span class="badge rounded-pill bg-primary badge-up cart-item-count"
      >6</span
    ></a
  >
  <ul
    ngbDropdownMenu
    class="dropdown-menu dropdown-menu-media dropdown-menu-end"
  >
    <li class="dropdown-menu-header">
      <div class="dropdown-header d-flex">
        <h4 class="notification-title mb-0 me-auto">My Cart</h4>
        <div class="badge rounded-pill badge-light-primary">4 Items</div>
      </div>
    </li>
    <li class="scrollable-container media-list ps">
      <div class="list-item align-items-center">
        <img
          class="d-block rounded me-1"
          src="assets/images/pages/eCommerce/1.png"
          alt="donuts"
          width="62"
        />
        <div class="list-item-body flex-grow-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="14"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-x ficon cart-item-remove"
          >
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
          <div class="media-heading">
            <h6 class="cart-item-title">
              <a class="text-body" href="app-ecommerce-details.html">
                Apple watch 5</a
              >
            </h6>
            <small class="cart-item-by">By Apple</small>
          </div>
          <div class="cart-item-qty">
            <div class="input-group bootstrap-touchspin">
              <span class="input-group-btn bootstrap-touchspin-injected"
                ><button
                  class="btn btn-primary bootstrap-touchspin-down"
                  type="button"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-minus"
                  >
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                  </svg></button></span
              ><input
                class="touchspin-cart form-control"
                type="number"
                value="1"
              /><span class="input-group-btn bootstrap-touchspin-injected"
                ><button
                  class="btn btn-primary bootstrap-touchspin-up"
                  type="button"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-plus"
                  >
                    <line x1="12" y1="5" x2="12" y2="19"></line>
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                  </svg></button
              ></span>
            </div>
          </div>
          <h5 class="cart-item-price">$374.90</h5>
        </div>
      </div>
      <div class="list-item align-items-center">
        <img
          class="d-block rounded me-1"
          src="assets/images/pages/eCommerce/7.png"
          alt="donuts"
          width="62"
        />
        <div class="list-item-body flex-grow-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="14"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-x ficon cart-item-remove"
          >
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
          <div class="media-heading">
            <h6 class="cart-item-title">
              <a class="text-body" href="app-ecommerce-details.html">
                Google Home Mini</a
              >
            </h6>
            <small class="cart-item-by">By Google</small>
          </div>
          <div class="cart-item-qty">
            <div class="input-group bootstrap-touchspin">
              <span class="input-group-btn bootstrap-touchspin-injected"
                ><button
                  class="btn btn-primary bootstrap-touchspin-down"
                  type="button"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-minus"
                  >
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                  </svg></button></span
              ><input
                class="touchspin-cart form-control"
                type="number"
                value="3"
              /><span class="input-group-btn bootstrap-touchspin-injected"
                ><button
                  class="btn btn-primary bootstrap-touchspin-up"
                  type="button"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-plus"
                  >
                    <line x1="12" y1="5" x2="12" y2="19"></line>
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                  </svg></button
              ></span>
            </div>
          </div>
          <h5 class="cart-item-price">$129.40</h5>
        </div>
      </div>
      <div class="list-item align-items-center">
        <img
          class="d-block rounded me-1"
          src="assets/images/pages/eCommerce/2.png"
          alt="donuts"
          width="62"
        />
        <div class="list-item-body flex-grow-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="14"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-x ficon cart-item-remove"
          >
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
          <div class="media-heading">
            <h6 class="cart-item-title">
              <a class="text-body" href="app-ecommerce-details.html">
                iPhone 11 Pro</a
              >
            </h6>
            <small class="cart-item-by">By Apple</small>
          </div>
          <div class="cart-item-qty">
            <div class="input-group bootstrap-touchspin">
              <span class="input-group-btn bootstrap-touchspin-injected"
                ><button
                  class="btn btn-primary bootstrap-touchspin-down"
                  type="button"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-minus"
                  >
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                  </svg></button></span
              ><input
                class="touchspin-cart form-control"
                type="number"
                value="2"
              /><span class="input-group-btn bootstrap-touchspin-injected"
                ><button
                  class="btn btn-primary bootstrap-touchspin-up"
                  type="button"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-plus"
                  >
                    <line x1="12" y1="5" x2="12" y2="19"></line>
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                  </svg></button
              ></span>
            </div>
          </div>
          <h5 class="cart-item-price">$699.00</h5>
        </div>
      </div>
      <div class="list-item align-items-center">
        <img
          class="d-block rounded me-1"
          src="assets/images/pages/eCommerce/3.png"
          alt="donuts"
          width="62"
        />
        <div class="list-item-body flex-grow-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="14"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-x ficon cart-item-remove"
          >
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
          <div class="media-heading">
            <h6 class="cart-item-title">
              <a class="text-body" href="app-ecommerce-details.html">
                iMac Pro</a
              >
            </h6>
            <small class="cart-item-by">By Apple</small>
          </div>
          <div class="cart-item-qty">
            <div class="input-group bootstrap-touchspin">
              <span class="input-group-btn bootstrap-touchspin-injected"
                ><button
                  class="btn btn-primary bootstrap-touchspin-down"
                  type="button"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-minus"
                  >
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                  </svg></button></span
              ><input
                class="touchspin-cart form-control"
                type="number"
                value="1"
              /><span class="input-group-btn bootstrap-touchspin-injected"
                ><button
                  class="btn btn-primary bootstrap-touchspin-up"
                  type="button"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-plus"
                  >
                    <line x1="12" y1="5" x2="12" y2="19"></line>
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                  </svg></button
              ></span>
            </div>
          </div>
          <h5 class="cart-item-price">$4,999.00</h5>
        </div>
      </div>
      <div class="list-item align-items-center">
        <img
          class="d-block rounded me-1"
          src="assets/images/pages/eCommerce/5.png"
          alt="donuts"
          width="62"
        />
        <div class="list-item-body flex-grow-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="14"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-x ficon cart-item-remove"
          >
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
          <div class="media-heading">
            <h6 class="cart-item-title">
              <a class="text-body" href="app-ecommerce-details.html">
                MacBook Pro</a
              >
            </h6>
            <small class="cart-item-by">By Apple</small>
          </div>
          <div class="cart-item-qty">
            <div class="input-group bootstrap-touchspin">
              <span class="input-group-btn bootstrap-touchspin-injected"
                ><button
                  class="btn btn-primary bootstrap-touchspin-down"
                  type="button"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-minus"
                  >
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                  </svg></button></span
              ><input
                class="touchspin-cart form-control"
                type="number"
                value="1"
              /><span class="input-group-btn bootstrap-touchspin-injected"
                ><button
                  class="btn btn-primary bootstrap-touchspin-up"
                  type="button"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-plus"
                  >
                    <line x1="12" y1="5" x2="12" y2="19"></line>
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                  </svg></button
              ></span>
            </div>
          </div>
          <h5 class="cart-item-price">$2,999.00</h5>
        </div>
      </div>
      <div class="ps__rail-x" style="left: 0px; bottom: 0px">
        <div
          class="ps__thumb-x"
          tabindex="0"
          style="left: 0px; width: 0px"
        ></div>
      </div>
      <div class="ps__rail-y" style="top: 0px; right: 0px">
        <div
          class="ps__thumb-y"
          tabindex="0"
          style="top: 0px; height: 0px"
        ></div>
      </div>
    </li>
    <li class="dropdown-menu-footer">
      <div class="d-flex justify-content-between mb-1">
        <h6 class="fw-bolder mb-0">Total:</h6>
        <h6 class="text-primary fw-bolder mb-0">$10,999.00</h6>
      </div>
      <a
        class="btn btn-primary w-100 waves-effect waves-float waves-light"
        href="app-ecommerce-checkout.html"
        >Checkout</a
      >
    </li>
  </ul>
</li>
<!-- END Cart Dropdown -->
