<!-- Line Chart - Profit -->
<div>
  <div class="card card-tiny-line-stats">
    <div class="card-body pb-50" style="position: relative">
      <h6>Profit</h6>
      <h2 class="fw-bolder mb-1">6,24k</h2>
      <div id="statistics-profit-chart" style="min-height: 85px">
        <div
          id="apexcharts5i841tru"
          class="apexcharts-canvas apexcharts5i841tru apexcharts-theme-light"
          style="width: 152px; height: 70px"
        >
          <svg
            id="SvgjsSvg4232"
            width="152"
            height="70"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:svgjs="http://svgjs.com/svgjs"
            class="apexcharts-svg"
            xmlns:data="ApexChartsNS"
            transform="translate(0, 0)"
            style="background: transparent"
          >
            <g
              id="SvgjsG4234"
              class="apexcharts-inner apexcharts-graphical"
              transform="translate(12, 0)"
            >
              <defs id="SvgjsDefs4233">
                <clipPath id="gridRectMask5i841tru">
                  <rect
                    id="SvgjsRect4239"
                    width="137"
                    height="68"
                    x="-3.5"
                    y="-1.5"
                    rx="0"
                    ry="0"
                    opacity="1"
                    stroke-width="0"
                    stroke="none"
                    stroke-dasharray="0"
                    fill="#fff"
                  ></rect>
                </clipPath>
                <clipPath id="gridRectMarkerMask5i841tru">
                  <rect
                    id="SvgjsRect4240"
                    width="142"
                    height="77"
                    x="-6"
                    y="-6"
                    rx="0"
                    ry="0"
                    opacity="1"
                    stroke-width="0"
                    stroke="none"
                    stroke-dasharray="0"
                    fill="#fff"
                  ></rect>
                </clipPath>
              </defs>
              <line
                id="SvgjsLine4238"
                x1="0"
                y1="0"
                x2="0"
                y2="65"
                stroke="#b6b6b6"
                stroke-dasharray="3"
                class="apexcharts-xcrosshairs"
                x="0"
                y="0"
                width="1"
                height="65"
                fill="#b1b9c4"
                filter="none"
                fill-opacity="0.9"
                stroke-width="1"
              ></line>
              <g
                id="SvgjsG4257"
                class="apexcharts-xaxis"
                transform="translate(0, 0)"
              >
                <g
                  id="SvgjsG4258"
                  class="apexcharts-xaxis-texts-g"
                  transform="translate(0, -4)"
                >
                  <text
                    id="SvgjsText4260"
                    font-family="Helvetica, Arial, sans-serif"
                    x="0"
                    y="94"
                    text-anchor="middle"
                    dominant-baseline="auto"
                    font-size="0px"
                    font-weight="400"
                    fill="#373d3f"
                    class="apexcharts-text apexcharts-xaxis-label"
                    style="font-family: Helvetica, Arial, sans-serif"
                  >
                    <tspan id="SvgjsTspan4261">1</tspan>
                    <title>1</title>
                  </text>
                  <text
                    id="SvgjsText4263"
                    font-family="Helvetica, Arial, sans-serif"
                    x="26"
                    y="94"
                    text-anchor="middle"
                    dominant-baseline="auto"
                    font-size="0px"
                    font-weight="400"
                    fill="#373d3f"
                    class="apexcharts-text apexcharts-xaxis-label"
                    style="font-family: Helvetica, Arial, sans-serif"
                  >
                    <tspan id="SvgjsTspan4264">2</tspan>
                    <title>2</title>
                  </text>
                  <text
                    id="SvgjsText4266"
                    font-family="Helvetica, Arial, sans-serif"
                    x="52"
                    y="94"
                    text-anchor="middle"
                    dominant-baseline="auto"
                    font-size="0px"
                    font-weight="400"
                    fill="#373d3f"
                    class="apexcharts-text apexcharts-xaxis-label"
                    style="font-family: Helvetica, Arial, sans-serif"
                  >
                    <tspan id="SvgjsTspan4267">3</tspan>
                    <title>3</title>
                  </text>
                  <text
                    id="SvgjsText4269"
                    font-family="Helvetica, Arial, sans-serif"
                    x="78"
                    y="94"
                    text-anchor="middle"
                    dominant-baseline="auto"
                    font-size="0px"
                    font-weight="400"
                    fill="#373d3f"
                    class="apexcharts-text apexcharts-xaxis-label"
                    style="font-family: Helvetica, Arial, sans-serif"
                  >
                    <tspan id="SvgjsTspan4270">4</tspan>
                    <title>4</title>
                  </text>
                  <text
                    id="SvgjsText4272"
                    font-family="Helvetica, Arial, sans-serif"
                    x="104"
                    y="94"
                    text-anchor="middle"
                    dominant-baseline="auto"
                    font-size="0px"
                    font-weight="400"
                    fill="#373d3f"
                    class="apexcharts-text apexcharts-xaxis-label"
                    style="font-family: Helvetica, Arial, sans-serif"
                  >
                    <tspan id="SvgjsTspan4273">5</tspan>
                    <title>5</title>
                  </text>
                  <text
                    id="SvgjsText4275"
                    font-family="Helvetica, Arial, sans-serif"
                    x="130"
                    y="94"
                    text-anchor="middle"
                    dominant-baseline="auto"
                    font-size="0px"
                    font-weight="400"
                    fill="#373d3f"
                    class="apexcharts-text apexcharts-xaxis-label"
                    style="font-family: Helvetica, Arial, sans-serif"
                  >
                    <tspan id="SvgjsTspan4276">6</tspan>
                    <title>6</title>
                  </text>
                </g>
              </g>
              <g id="SvgjsG4278" class="apexcharts-grid">
                <g id="SvgjsG4279" class="apexcharts-gridlines-horizontal"></g>
                <g id="SvgjsG4280" class="apexcharts-gridlines-vertical">
                  <line
                    id="SvgjsLine4281"
                    x1="0"
                    y1="0"
                    x2="0"
                    y2="65"
                    stroke="#ebebeb"
                    stroke-dasharray="5"
                    class="apexcharts-gridline"
                  ></line>
                  <line
                    id="SvgjsLine4282"
                    x1="26"
                    y1="0"
                    x2="26"
                    y2="65"
                    stroke="#ebebeb"
                    stroke-dasharray="5"
                    class="apexcharts-gridline"
                  ></line>
                  <line
                    id="SvgjsLine4283"
                    x1="52"
                    y1="0"
                    x2="52"
                    y2="65"
                    stroke="#ebebeb"
                    stroke-dasharray="5"
                    class="apexcharts-gridline"
                  ></line>
                  <line
                    id="SvgjsLine4284"
                    x1="78"
                    y1="0"
                    x2="78"
                    y2="65"
                    stroke="#ebebeb"
                    stroke-dasharray="5"
                    class="apexcharts-gridline"
                  ></line>
                  <line
                    id="SvgjsLine4285"
                    x1="104"
                    y1="0"
                    x2="104"
                    y2="65"
                    stroke="#ebebeb"
                    stroke-dasharray="5"
                    class="apexcharts-gridline"
                  ></line>
                  <line
                    id="SvgjsLine4286"
                    x1="130"
                    y1="0"
                    x2="130"
                    y2="65"
                    stroke="#ebebeb"
                    stroke-dasharray="5"
                    class="apexcharts-gridline"
                  ></line>
                </g>
                <line
                  id="SvgjsLine4288"
                  x1="0"
                  y1="65"
                  x2="130"
                  y2="65"
                  stroke="transparent"
                  stroke-dasharray="0"
                ></line>
                <line
                  id="SvgjsLine4287"
                  x1="0"
                  y1="1"
                  x2="0"
                  y2="65"
                  stroke="transparent"
                  stroke-dasharray="0"
                ></line>
              </g>
              <g
                id="SvgjsG4241"
                class="apexcharts-line-series apexcharts-plot-series"
              >
                <g
                  id="SvgjsG4242"
                  class="apexcharts-series"
                  seriesName="seriesx1"
                  data:longestSeries="true"
                  rel="1"
                  data:realIndex="0"
                >
                  <path
                    id="SvgjsPath4256"
                    d="M 0 65L 26 39L 52 58.5L 78 26L 104 45.5L 130 6.5"
                    fill="none"
                    fill-opacity="1"
                    stroke="rgba(0,207,232,0.85)"
                    stroke-opacity="1"
                    stroke-linecap="butt"
                    stroke-width="3"
                    stroke-dasharray="0"
                    class="apexcharts-line"
                    index="0"
                    clip-path="url(#gridRectMask5i841tru)"
                    pathTo="M 0 65L 26 39L 52 58.5L 78 26L 104 45.5L 130 6.5"
                    pathFrom="M -1 65L -1 65L 26 65L 52 65L 78 65L 104 65L 130 65"
                  ></path>
                  <g
                    id="SvgjsG4243"
                    class="apexcharts-series-markers-wrap"
                    data:realIndex="0"
                  >
                    <g
                      id="SvgjsG4245"
                      class="apexcharts-series-markers"
                      clip-path="url(#gridRectMarkerMask5i841tru)"
                    >
                      <circle
                        id="SvgjsCircle4246"
                        r="2"
                        cx="0"
                        cy="65"
                        class="apexcharts-marker no-pointer-events wq51ttu3tj"
                        stroke="#00cfe8"
                        fill="#00cfe8"
                        fill-opacity="1"
                        stroke-width="2"
                        stroke-opacity="1"
                        rel="0"
                        j="0"
                        index="0"
                        default-marker-size="2"
                      ></circle>
                      <circle
                        id="SvgjsCircle4247"
                        r="2"
                        cx="26"
                        cy="39"
                        class="apexcharts-marker no-pointer-events w2x9rr2jsh"
                        stroke="#00cfe8"
                        fill="#00cfe8"
                        fill-opacity="1"
                        stroke-width="2"
                        stroke-opacity="1"
                        rel="1"
                        j="1"
                        index="0"
                        default-marker-size="2"
                      ></circle>
                    </g>
                    <g
                      id="SvgjsG4248"
                      class="apexcharts-series-markers"
                      clip-path="url(#gridRectMarkerMask5i841tru)"
                    >
                      <circle
                        id="SvgjsCircle4249"
                        r="2"
                        cx="52"
                        cy="58.5"
                        class="apexcharts-marker no-pointer-events wfujjshn6"
                        stroke="#00cfe8"
                        fill="#00cfe8"
                        fill-opacity="1"
                        stroke-width="2"
                        stroke-opacity="1"
                        rel="2"
                        j="2"
                        index="0"
                        default-marker-size="2"
                      ></circle>
                    </g>
                    <g
                      id="SvgjsG4250"
                      class="apexcharts-series-markers"
                      clip-path="url(#gridRectMarkerMask5i841tru)"
                    >
                      <circle
                        id="SvgjsCircle4251"
                        r="2"
                        cx="78"
                        cy="26"
                        class="apexcharts-marker no-pointer-events wd3eeahks"
                        stroke="#00cfe8"
                        fill="#00cfe8"
                        fill-opacity="1"
                        stroke-width="2"
                        stroke-opacity="1"
                        rel="3"
                        j="3"
                        index="0"
                        default-marker-size="2"
                      ></circle>
                    </g>
                    <g
                      id="SvgjsG4252"
                      class="apexcharts-series-markers"
                      clip-path="url(#gridRectMarkerMask5i841tru)"
                    >
                      <circle
                        id="SvgjsCircle4253"
                        r="2"
                        cx="104"
                        cy="45.5"
                        class="apexcharts-marker no-pointer-events wyw5eykcz"
                        stroke="#00cfe8"
                        fill="#00cfe8"
                        fill-opacity="1"
                        stroke-width="2"
                        stroke-opacity="1"
                        rel="4"
                        j="4"
                        index="0"
                        default-marker-size="2"
                      ></circle>
                    </g>
                    <g
                      id="SvgjsG4254"
                      class="apexcharts-series-markers"
                      clip-path="url(#gridRectMarkerMask5i841tru)"
                    >
                      <circle
                        id="SvgjsCircle4255"
                        r="5"
                        cx="130"
                        cy="6.5"
                        class="apexcharts-marker no-pointer-events w9fb0fen9"
                        stroke="#00cfe8"
                        fill="#ffffff"
                        fill-opacity="1"
                        stroke-width="2"
                        stroke-opacity="1"
                        rel="5"
                        j="5"
                        index="0"
                        default-marker-size="5"
                      ></circle>
                    </g>
                  </g>
                </g>
                <g
                  id="SvgjsG4244"
                  class="apexcharts-datalabels"
                  data:realIndex="0"
                ></g>
              </g>
              <line
                id="SvgjsLine4289"
                x1="0"
                y1="0"
                x2="130"
                y2="0"
                stroke="#b6b6b6"
                stroke-dasharray="0"
                stroke-width="1"
                class="apexcharts-ycrosshairs"
              ></line>
              <line
                id="SvgjsLine4290"
                x1="0"
                y1="0"
                x2="130"
                y2="0"
                stroke-dasharray="0"
                stroke-width="0"
                class="apexcharts-ycrosshairs-hidden"
              ></line>
              <g id="SvgjsG4291" class="apexcharts-yaxis-annotations"></g>
              <g id="SvgjsG4292" class="apexcharts-xaxis-annotations"></g>
              <g id="SvgjsG4293" class="apexcharts-point-annotations"></g>
            </g>
            <rect
              id="SvgjsRect4237"
              width="0"
              height="0"
              x="0"
              y="0"
              rx="0"
              ry="0"
              opacity="1"
              stroke-width="0"
              stroke="none"
              stroke-dasharray="0"
              fill="#fefefe"
            ></rect>
            <g
              id="SvgjsG4277"
              class="apexcharts-yaxis"
              rel="0"
              transform="translate(-18, 0)"
            ></g>
            <g id="SvgjsG4235" class="apexcharts-annotations"></g>
          </svg>
          <div class="apexcharts-legend" style="max-height: 35px"></div>
          <div class="apexcharts-tooltip apexcharts-theme-light">
            <div class="apexcharts-tooltip-series-group" style="order: 1">
              <span
                class="apexcharts-tooltip-marker"
                style="background-color: rgb(0, 207, 232)"
              ></span>
              <div
                class="apexcharts-tooltip-text"
                style="
                  font-family: Helvetica, Arial, sans-serif;
                  font-size: 12px;
                "
              >
                <div class="apexcharts-tooltip-y-group">
                  <span class="apexcharts-tooltip-text-label"></span
                  ><span class="apexcharts-tooltip-text-value"></span>
                </div>
                <div class="apexcharts-tooltip-z-group">
                  <span class="apexcharts-tooltip-text-z-label"></span
                  ><span class="apexcharts-tooltip-text-z-value"></span>
                </div>
              </div>
            </div>
          </div>
          <div
            class="apexcharts-xaxistooltip apexcharts-xaxistooltip-bottom apexcharts-theme-light"
          >
            <div
              class="apexcharts-xaxistooltip-text"
              style="font-family: Helvetica, Arial, sans-serif; font-size: 12px"
            ></div>
          </div>
          <div
            class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light"
          >
            <div class="apexcharts-yaxistooltip-text"></div>
          </div>
        </div>
      </div>
      <div class="resize-triggers">
        <div class="expand-trigger">
          <div style="width: 195px; height: 179px"></div>
        </div>
        <div class="contract-trigger"></div>
      </div>
    </div>
  </div>
</div>
<!--/ Line Chart - Profit -->
