<!-- Earnings Card -->
<div>
  <div class="card earnings-card">
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <h4 class="card-title mb-1">Earnings</h4>
          <div class="font-small-2">This Month</div>
          <h5 class="mb-1">$4055.56</h5>
          <p class="card-text text-muted font-small-2">
            <span class="fw-bolder">68.2%</span
            ><span> more earnings than last month.</span>
          </p>
        </div>
        <div class="col-6" style="position: relative">
          <div id="earnings-chart" style="min-height: 126.8px">
            <div
              id="apexcharts3plyyfpf"
              class="apexcharts-canvas apexcharts3plyyfpf apexcharts-theme-light"
              style="width: 173px; height: 126.8px"
            >
              <svg
                id="SvgjsSvg4294"
                width="173"
                height="126.8"
                xmlns="http://www.w3.org/2000/svg"
                version="1.1"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:svgjs="http://svgjs.com/svgjs"
                class="apexcharts-svg"
                xmlns:data="ApexChartsNS"
                transform="translate(0, 0)"
                style="background: transparent"
              >
                <g
                  id="SvgjsG4296"
                  class="apexcharts-inner apexcharts-graphical"
                  transform="translate(6.5, 0)"
                >
                  <defs id="SvgjsDefs4295">
                    <clipPath id="gridRectMask3plyyfpf">
                      <rect
                        id="SvgjsRect4298"
                        width="164"
                        height="128"
                        x="-2"
                        y="0"
                        rx="0"
                        ry="0"
                        opacity="1"
                        stroke-width="0"
                        stroke="none"
                        stroke-dasharray="0"
                        fill="#fff"
                      ></rect>
                    </clipPath>
                    <clipPath id="gridRectMarkerMask3plyyfpf">
                      <rect
                        id="SvgjsRect4299"
                        width="164"
                        height="132"
                        x="-2"
                        y="-2"
                        rx="0"
                        ry="0"
                        opacity="1"
                        stroke-width="0"
                        stroke="none"
                        stroke-dasharray="0"
                        fill="#fff"
                      ></rect>
                    </clipPath>
                  </defs>
                  <g id="SvgjsG4300" class="apexcharts-pie">
                    <g id="SvgjsG4301" transform="translate(0, 0) scale(1)">
                      <circle
                        id="SvgjsCircle4302"
                        r="37.98536585365854"
                        cx="80"
                        cy="64"
                        fill="transparent"
                      ></circle>
                      <g id="SvgjsG4303" class="apexcharts-slices">
                        <g
                          id="SvgjsG4304"
                          class="apexcharts-series apexcharts-pie-series"
                          seriesName="App"
                          rel="1"
                          data:realIndex="0"
                        >
                          <path
                            id="SvgjsPath4305"
                            d="M 69.85216991000085 6.448795702018273 A 58.43902439024391 58.43902439024391 0 1 1 79.1840638026197 122.43332798844617 L 79.46964147170281 101.98166319249002 A 37.98536585365854 37.98536585365854 0 1 0 73.40391044150056 26.591717206311877 L 69.85216991000085 6.448795702018273 z"
                            fill="#28c76f66"
                            fill-opacity="1"
                            stroke-opacity="1"
                            stroke-linecap="butt"
                            stroke-width="0"
                            stroke-dasharray="0"
                            class="apexcharts-pie-area apexcharts-donut-slice-0"
                            index="0"
                            j="0"
                            data:angle="190.8"
                            data:startAngle="-10"
                            data:strokeWidth="0"
                            data:value="53"
                            data:pathOrig="M 69.85216991000085 6.448795702018273 A 58.43902439024391 58.43902439024391 0 1 1 79.1840638026197 122.43332798844617 L 79.46964147170281 101.98166319249002 A 37.98536585365854 37.98536585365854 0 1 0 73.40391044150056 26.591717206311877 L 69.85216991000085 6.448795702018273 z"
                          ></path>
                        </g>
                        <g
                          id="SvgjsG4306"
                          class="apexcharts-series apexcharts-pie-series"
                          seriesName="Service"
                          rel="2"
                          data:realIndex="1"
                        >
                          <path
                            id="SvgjsPath4307"
                            d="M 79.1840638026197 122.43332798844617 A 58.43902439024391 58.43902439024391 0 0 1 30.22590892178677 94.6212251391295 L 47.646840799161396 83.90379634043418 A 37.98536585365854 37.98536585365854 0 0 0 79.46964147170281 101.98166319249002 L 79.1840638026197 122.43332798844617 z"
                            fill="#28c76f33"
                            fill-opacity="1"
                            stroke-opacity="1"
                            stroke-linecap="butt"
                            stroke-width="0"
                            stroke-dasharray="0"
                            class="apexcharts-pie-area apexcharts-donut-slice-1"
                            index="0"
                            j="1"
                            data:angle="57.599999999999994"
                            data:startAngle="180.8"
                            data:strokeWidth="0"
                            data:value="16"
                            data:pathOrig="M 79.1840638026197 122.43332798844617 A 58.43902439024391 58.43902439024391 0 0 1 30.22590892178677 94.6212251391295 L 47.646840799161396 83.90379634043418 A 37.98536585365854 37.98536585365854 0 0 0 79.46964147170281 101.98166319249002 L 79.1840638026197 122.43332798844617 z"
                          ></path>
                        </g>
                        <g
                          id="SvgjsG4308"
                          class="apexcharts-series apexcharts-pie-series"
                          seriesName="Product"
                          rel="3"
                          data:realIndex="2"
                        >
                          <path
                            id="SvgjsPath4309"
                            d="M 30.22590892178677 94.6212251391295 A 58.43902439024391 58.43902439024391 0 0 1 69.84212548457727 6.4505677090342814 L 73.39738156497522 26.592869010872285 A 37.98536585365854 37.98536585365854 0 0 0 47.646840799161396 83.90379634043418 L 30.22590892178677 94.6212251391295 z"
                            fill="rgba(40,199,111,1)"
                            fill-opacity="1"
                            stroke-opacity="1"
                            stroke-linecap="butt"
                            stroke-width="0"
                            stroke-dasharray="0"
                            class="apexcharts-pie-area apexcharts-donut-slice-2"
                            index="0"
                            j="2"
                            data:angle="111.6"
                            data:startAngle="238.4"
                            data:strokeWidth="0"
                            data:value="31"
                            data:pathOrig="M 30.22590892178677 94.6212251391295 A 58.43902439024391 58.43902439024391 0 0 1 69.84212548457727 6.4505677090342814 L 73.39738156497522 26.592869010872285 A 37.98536585365854 37.98536585365854 0 0 0 47.646840799161396 83.90379634043418 L 30.22590892178677 94.6212251391295 z"
                          ></path>
                        </g>
                      </g>
                    </g>
                    <g
                      id="SvgjsG4310"
                      class="apexcharts-datalabels-group"
                      transform="translate(0, 0) scale(1)"
                    >
                      <text
                        id="SvgjsText4311"
                        font-family="Helvetica, Arial, sans-serif"
                        x="80"
                        y="79"
                        text-anchor="middle"
                        dominant-baseline="auto"
                        font-size="16px"
                        font-weight="400"
                        fill="#373d3f"
                        class="apexcharts-text apexcharts-datalabel-label"
                        style="font-family: Helvetica, Arial, sans-serif"
                      >
                        App
                      </text>
                      <text
                        id="SvgjsText4312"
                        font-family="Helvetica, Arial, sans-serif"
                        x="80"
                        y="65"
                        text-anchor="middle"
                        dominant-baseline="auto"
                        font-size="20px"
                        font-weight="400"
                        fill="#373d3f"
                        class="apexcharts-text apexcharts-datalabel-value"
                        style="font-family: Helvetica, Arial, sans-serif"
                      >
                        53%
                      </text>
                    </g>
                  </g>
                  <line
                    id="SvgjsLine4313"
                    x1="0"
                    y1="0"
                    x2="160"
                    y2="0"
                    stroke="#b6b6b6"
                    stroke-dasharray="0"
                    stroke-width="1"
                    class="apexcharts-ycrosshairs"
                  ></line>
                  <line
                    id="SvgjsLine4314"
                    x1="0"
                    y1="0"
                    x2="160"
                    y2="0"
                    stroke-dasharray="0"
                    stroke-width="0"
                    class="apexcharts-ycrosshairs-hidden"
                  ></line>
                </g>
                <g id="SvgjsG4297" class="apexcharts-annotations"></g>
              </svg>
              <div class="apexcharts-legend"></div>
              <div class="apexcharts-tooltip apexcharts-theme-dark">
                <div class="apexcharts-tooltip-series-group" style="order: 1">
                  <span
                    class="apexcharts-tooltip-marker"
                    style="background-color: rgba(40, 199, 111, 0.4)"
                  ></span>
                  <div
                    class="apexcharts-tooltip-text"
                    style="
                      font-family: Helvetica, Arial, sans-serif;
                      font-size: 12px;
                    "
                  >
                    <div class="apexcharts-tooltip-y-group">
                      <span class="apexcharts-tooltip-text-label"></span
                      ><span class="apexcharts-tooltip-text-value"></span>
                    </div>
                    <div class="apexcharts-tooltip-z-group">
                      <span class="apexcharts-tooltip-text-z-label"></span
                      ><span class="apexcharts-tooltip-text-z-value"></span>
                    </div>
                  </div>
                </div>
                <div class="apexcharts-tooltip-series-group" style="order: 2">
                  <span
                    class="apexcharts-tooltip-marker"
                    style="background-color: rgba(40, 199, 111, 0.2)"
                  ></span>
                  <div
                    class="apexcharts-tooltip-text"
                    style="
                      font-family: Helvetica, Arial, sans-serif;
                      font-size: 12px;
                    "
                  >
                    <div class="apexcharts-tooltip-y-group">
                      <span class="apexcharts-tooltip-text-label"></span
                      ><span class="apexcharts-tooltip-text-value"></span>
                    </div>
                    <div class="apexcharts-tooltip-z-group">
                      <span class="apexcharts-tooltip-text-z-label"></span
                      ><span class="apexcharts-tooltip-text-z-value"></span>
                    </div>
                  </div>
                </div>
                <div class="apexcharts-tooltip-series-group" style="order: 3">
                  <span
                    class="apexcharts-tooltip-marker"
                    style="background-color: rgb(40, 199, 111)"
                  ></span>
                  <div
                    class="apexcharts-tooltip-text"
                    style="
                      font-family: Helvetica, Arial, sans-serif;
                      font-size: 12px;
                    "
                  >
                    <div class="apexcharts-tooltip-y-group">
                      <span class="apexcharts-tooltip-text-label"></span
                      ><span class="apexcharts-tooltip-text-value"></span>
                    </div>
                    <div class="apexcharts-tooltip-z-group">
                      <span class="apexcharts-tooltip-text-z-label"></span
                      ><span class="apexcharts-tooltip-text-z-value"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="resize-triggers">
            <div class="expand-trigger">
              <div style="width: 202px; height: 128px"></div>
            </div>
            <div class="contract-trigger"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Earnings Card -->
