<!-- Bar Chart - Orders -->
<div>
  <div class="card">
    <div class="card-body pb-50" style="position: relative">
      <h6>Orders</h6>
      <h2 class="fw-bolder mb-1">2,76k</h2>
      <div id="statistics-order-chart" style="min-height: 85px">
        <div
          id="apexchartsnugx9fox"
          class="apexcharts-canvas apexchartsnugx9fox apexcharts-theme-light"
          style="width: 152px; height: 70px"
        >
          <svg
            id="SvgjsSvg4186"
            width="152"
            height="70"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:svgjs="http://svgjs.com/svgjs"
            class="apexcharts-svg apexcharts-zoomable"
            xmlns:data="ApexChartsNS"
            transform="translate(0, 0)"
            style="background: transparent"
          >
            <g
              id="SvgjsG4188"
              class="apexcharts-inner apexcharts-graphical"
              transform="translate(14.066666666666666, 15)"
            >
              <defs id="SvgjsDefs4187">
                <linearGradient
                  id="SvgjsLinearGradient4191"
                  x1="0"
                  y1="0"
                  x2="0"
                  y2="1"
                >
                  <stop
                    id="SvgjsStop4192"
                    stop-opacity="0.4"
                    stop-color="rgba(216,227,240,0.4)"
                    offset="0"
                  ></stop>
                  <stop
                    id="SvgjsStop4193"
                    stop-opacity="0.5"
                    stop-color="rgba(190,209,230,0.5)"
                    offset="1"
                  ></stop>
                  <stop
                    id="SvgjsStop4194"
                    stop-opacity="0.5"
                    stop-color="rgba(190,209,230,0.5)"
                    offset="1"
                  ></stop>
                </linearGradient>
                <clipPath id="gridRectMasknugx9fox">
                  <rect
                    id="SvgjsRect4196"
                    width="156"
                    height="55"
                    x="-12.066666666666666"
                    y="0"
                    rx="0"
                    ry="0"
                    opacity="1"
                    stroke-width="0"
                    stroke="none"
                    stroke-dasharray="0"
                    fill="#fff"
                  ></rect>
                </clipPath>
                <clipPath id="gridRectMarkerMasknugx9fox">
                  <rect
                    id="SvgjsRect4197"
                    width="135.86666666666667"
                    height="59"
                    x="-2"
                    y="-2"
                    rx="0"
                    ry="0"
                    opacity="1"
                    stroke-width="0"
                    stroke="none"
                    stroke-dasharray="0"
                    fill="#fff"
                  ></rect>
                </clipPath>
              </defs>
              <rect
                id="SvgjsRect4195"
                width="6.593333333333334"
                height="55"
                x="0"
                y="0"
                rx="0"
                ry="0"
                opacity="1"
                stroke-width="0"
                stroke-dasharray="3"
                fill="url(#SvgjsLinearGradient4191)"
                class="apexcharts-xcrosshairs"
                y2="55"
                filter="none"
                fill-opacity="0.9"
              ></rect>
              <g
                id="SvgjsG4211"
                class="apexcharts-xaxis"
                transform="translate(0, 0)"
              >
                <g
                  id="SvgjsG4212"
                  class="apexcharts-xaxis-texts-g"
                  transform="translate(0, -4)"
                ></g>
              </g>
              <g id="SvgjsG4214" class="apexcharts-grid">
                <g
                  id="SvgjsG4215"
                  class="apexcharts-gridlines-horizontal"
                  style="display: none"
                >
                  <line
                    id="SvgjsLine4217"
                    x1="-10.066666666666666"
                    y1="0"
                    x2="141.93333333333334"
                    y2="0"
                    stroke="#e0e0e0"
                    stroke-dasharray="0"
                    class="apexcharts-gridline"
                  ></line>
                  <line
                    id="SvgjsLine4218"
                    x1="-10.066666666666666"
                    y1="11"
                    x2="141.93333333333334"
                    y2="11"
                    stroke="#e0e0e0"
                    stroke-dasharray="0"
                    class="apexcharts-gridline"
                  ></line>
                  <line
                    id="SvgjsLine4219"
                    x1="-10.066666666666666"
                    y1="22"
                    x2="141.93333333333334"
                    y2="22"
                    stroke="#e0e0e0"
                    stroke-dasharray="0"
                    class="apexcharts-gridline"
                  ></line>
                  <line
                    id="SvgjsLine4220"
                    x1="-10.066666666666666"
                    y1="33"
                    x2="141.93333333333334"
                    y2="33"
                    stroke="#e0e0e0"
                    stroke-dasharray="0"
                    class="apexcharts-gridline"
                  ></line>
                  <line
                    id="SvgjsLine4221"
                    x1="-10.066666666666666"
                    y1="44"
                    x2="141.93333333333334"
                    y2="44"
                    stroke="#e0e0e0"
                    stroke-dasharray="0"
                    class="apexcharts-gridline"
                  ></line>
                  <line
                    id="SvgjsLine4222"
                    x1="-10.066666666666666"
                    y1="55"
                    x2="141.93333333333334"
                    y2="55"
                    stroke="#e0e0e0"
                    stroke-dasharray="0"
                    class="apexcharts-gridline"
                  ></line>
                </g>
                <g
                  id="SvgjsG4216"
                  class="apexcharts-gridlines-vertical"
                  style="display: none"
                ></g>
                <line
                  id="SvgjsLine4224"
                  x1="0"
                  y1="55"
                  x2="131.86666666666667"
                  y2="55"
                  stroke="transparent"
                  stroke-dasharray="0"
                ></line>
                <line
                  id="SvgjsLine4223"
                  x1="0"
                  y1="1"
                  x2="0"
                  y2="55"
                  stroke="transparent"
                  stroke-dasharray="0"
                ></line>
              </g>
              <g
                id="SvgjsG4198"
                class="apexcharts-bar-series apexcharts-plot-series"
              >
                <g
                  id="SvgjsG4199"
                  class="apexcharts-series"
                  seriesName="2020"
                  rel="1"
                  data:realIndex="0"
                >
                  <rect
                    id="SvgjsRect4201"
                    width="6.593333333333334"
                    height="55"
                    x="-3.296666666666667"
                    y="0"
                    rx="5"
                    ry="5"
                    opacity="1"
                    stroke-width="0"
                    stroke="none"
                    stroke-dasharray="0"
                    fill="#f3f3f3"
                    class="apexcharts-backgroundBar"
                  ></rect>
                  <path
                    id="SvgjsPath4202"
                    d="M -3.296666666666667 53.35166666666667L -3.296666666666667 30.25L 3.296666666666667 30.25L 3.296666666666667 30.25L 3.296666666666667 53.35166666666667Q 0 56.64833333333333 -3.296666666666667 53.35166666666667z"
                    fill="rgba(255,159,67,0.85)"
                    fill-opacity="1"
                    stroke-opacity="1"
                    stroke-linecap="square"
                    stroke-width="0"
                    stroke-dasharray="0"
                    class="apexcharts-bar-area"
                    index="0"
                    clip-path="url(#gridRectMasknugx9fox)"
                    pathTo="M -3.296666666666667 53.35166666666667L -3.296666666666667 30.25L 3.296666666666667 30.25L 3.296666666666667 30.25L 3.296666666666667 53.35166666666667Q 0 56.64833333333333 -3.296666666666667 53.35166666666667z"
                    pathFrom="M -3.296666666666667 53.35166666666667L -3.296666666666667 55L 3.296666666666667 55L 3.296666666666667 55L 3.296666666666667 55L -3.296666666666667 55"
                    cy="30.25"
                    cx="3.296666666666667"
                    j="0"
                    val="45"
                    barHeight="24.75"
                    barWidth="6.593333333333334"
                  ></path>
                  <rect
                    id="SvgjsRect4203"
                    width="6.593333333333334"
                    height="55"
                    x="29.67"
                    y="0"
                    rx="5"
                    ry="5"
                    opacity="1"
                    stroke-width="0"
                    stroke="none"
                    stroke-dasharray="0"
                    fill="#f3f3f3"
                    class="apexcharts-backgroundBar"
                  ></rect>
                  <path
                    id="SvgjsPath4204"
                    d="M 29.67 53.35166666666667L 29.67 8.25L 36.263333333333335 8.25L 36.263333333333335 8.25L 36.263333333333335 53.35166666666667Q 32.96666666666667 56.64833333333333 29.67 53.35166666666667z"
                    fill="rgba(255,159,67,0.85)"
                    fill-opacity="1"
                    stroke-opacity="1"
                    stroke-linecap="square"
                    stroke-width="0"
                    stroke-dasharray="0"
                    class="apexcharts-bar-area"
                    index="0"
                    clip-path="url(#gridRectMasknugx9fox)"
                    pathTo="M 29.67 53.35166666666667L 29.67 8.25L 36.263333333333335 8.25L 36.263333333333335 8.25L 36.263333333333335 53.35166666666667Q 32.96666666666667 56.64833333333333 29.67 53.35166666666667z"
                    pathFrom="M 29.67 53.35166666666667L 29.67 55L 36.263333333333335 55L 36.263333333333335 55L 36.263333333333335 55L 29.67 55"
                    cy="8.25"
                    cx="36.263333333333335"
                    j="1"
                    val="85"
                    barHeight="46.75"
                    barWidth="6.593333333333334"
                  ></path>
                  <rect
                    id="SvgjsRect4205"
                    width="6.593333333333334"
                    height="55"
                    x="62.63666666666667"
                    y="0"
                    rx="5"
                    ry="5"
                    opacity="1"
                    stroke-width="0"
                    stroke="none"
                    stroke-dasharray="0"
                    fill="#f3f3f3"
                    class="apexcharts-backgroundBar"
                  ></rect>
                  <path
                    id="SvgjsPath4206"
                    d="M 62.63666666666667 53.35166666666667L 62.63666666666667 19.25L 69.23 19.25L 69.23 19.25L 69.23 53.35166666666667Q 65.93333333333334 56.64833333333333 62.63666666666667 53.35166666666667z"
                    fill="rgba(255,159,67,0.85)"
                    fill-opacity="1"
                    stroke-opacity="1"
                    stroke-linecap="square"
                    stroke-width="0"
                    stroke-dasharray="0"
                    class="apexcharts-bar-area"
                    index="0"
                    clip-path="url(#gridRectMasknugx9fox)"
                    pathTo="M 62.63666666666667 53.35166666666667L 62.63666666666667 19.25L 69.23 19.25L 69.23 19.25L 69.23 53.35166666666667Q 65.93333333333334 56.64833333333333 62.63666666666667 53.35166666666667z"
                    pathFrom="M 62.63666666666667 53.35166666666667L 62.63666666666667 55L 69.23 55L 69.23 55L 69.23 55L 62.63666666666667 55"
                    cy="19.25"
                    cx="69.23"
                    j="2"
                    val="65"
                    barHeight="35.75"
                    barWidth="6.593333333333334"
                  ></path>
                  <rect
                    id="SvgjsRect4207"
                    width="6.593333333333334"
                    height="55"
                    x="95.60333333333334"
                    y="0"
                    rx="5"
                    ry="5"
                    opacity="1"
                    stroke-width="0"
                    stroke="none"
                    stroke-dasharray="0"
                    fill="#f3f3f3"
                    class="apexcharts-backgroundBar"
                  ></rect>
                  <path
                    id="SvgjsPath4208"
                    d="M 95.60333333333334 53.35166666666667L 95.60333333333334 30.25L 102.19666666666667 30.25L 102.19666666666667 30.25L 102.19666666666667 53.35166666666667Q 98.9 56.64833333333333 95.60333333333334 53.35166666666667z"
                    fill="rgba(255,159,67,0.85)"
                    fill-opacity="1"
                    stroke-opacity="1"
                    stroke-linecap="square"
                    stroke-width="0"
                    stroke-dasharray="0"
                    class="apexcharts-bar-area"
                    index="0"
                    clip-path="url(#gridRectMasknugx9fox)"
                    pathTo="M 95.60333333333334 53.35166666666667L 95.60333333333334 30.25L 102.19666666666667 30.25L 102.19666666666667 30.25L 102.19666666666667 53.35166666666667Q 98.9 56.64833333333333 95.60333333333334 53.35166666666667z"
                    pathFrom="M 95.60333333333334 53.35166666666667L 95.60333333333334 55L 102.19666666666667 55L 102.19666666666667 55L 102.19666666666667 55L 95.60333333333334 55"
                    cy="30.25"
                    cx="102.19666666666666"
                    j="3"
                    val="45"
                    barHeight="24.75"
                    barWidth="6.593333333333334"
                  ></path>
                  <rect
                    id="SvgjsRect4209"
                    width="6.593333333333334"
                    height="55"
                    x="128.57"
                    y="0"
                    rx="5"
                    ry="5"
                    opacity="1"
                    stroke-width="0"
                    stroke="none"
                    stroke-dasharray="0"
                    fill="#f3f3f3"
                    class="apexcharts-backgroundBar"
                  ></rect>
                  <path
                    id="SvgjsPath4210"
                    d="M 128.57 53.35166666666667L 128.57 19.25L 135.16333333333333 19.25L 135.16333333333333 19.25L 135.16333333333333 53.35166666666667Q 131.86666666666667 56.64833333333333 128.57 53.35166666666667z"
                    fill="rgba(255,159,67,0.85)"
                    fill-opacity="1"
                    stroke-opacity="1"
                    stroke-linecap="square"
                    stroke-width="0"
                    stroke-dasharray="0"
                    class="apexcharts-bar-area"
                    index="0"
                    clip-path="url(#gridRectMasknugx9fox)"
                    pathTo="M 128.57 53.35166666666667L 128.57 19.25L 135.16333333333333 19.25L 135.16333333333333 19.25L 135.16333333333333 53.35166666666667Q 131.86666666666667 56.64833333333333 128.57 53.35166666666667z"
                    pathFrom="M 128.57 53.35166666666667L 128.57 55L 135.16333333333333 55L 135.16333333333333 55L 135.16333333333333 55L 128.57 55"
                    cy="19.25"
                    cx="135.16333333333333"
                    j="4"
                    val="65"
                    barHeight="35.75"
                    barWidth="6.593333333333334"
                  ></path>
                </g>
                <g
                  id="SvgjsG4200"
                  class="apexcharts-datalabels"
                  data:realIndex="0"
                ></g>
              </g>
              <line
                id="SvgjsLine4225"
                x1="-10.066666666666666"
                y1="0"
                x2="141.93333333333334"
                y2="0"
                stroke="#b6b6b6"
                stroke-dasharray="0"
                stroke-width="1"
                class="apexcharts-ycrosshairs"
              ></line>
              <line
                id="SvgjsLine4226"
                x1="-10.066666666666666"
                y1="0"
                x2="141.93333333333334"
                y2="0"
                stroke-dasharray="0"
                stroke-width="0"
                class="apexcharts-ycrosshairs-hidden"
              ></line>
              <g id="SvgjsG4227" class="apexcharts-yaxis-annotations"></g>
              <g id="SvgjsG4228" class="apexcharts-xaxis-annotations"></g>
              <g id="SvgjsG4229" class="apexcharts-point-annotations"></g>
              <rect
                id="SvgjsRect4230"
                width="0"
                height="0"
                x="0"
                y="0"
                rx="0"
                ry="0"
                opacity="1"
                stroke-width="0"
                stroke="none"
                stroke-dasharray="0"
                fill="#fefefe"
                class="apexcharts-zoom-rect"
              ></rect>
              <rect
                id="SvgjsRect4231"
                width="0"
                height="0"
                x="0"
                y="0"
                rx="0"
                ry="0"
                opacity="1"
                stroke-width="0"
                stroke="none"
                stroke-dasharray="0"
                fill="#fefefe"
                class="apexcharts-selection-rect"
              ></rect>
            </g>
            <g
              id="SvgjsG4213"
              class="apexcharts-yaxis"
              rel="0"
              transform="translate(-18, 0)"
            ></g>
            <g id="SvgjsG4189" class="apexcharts-annotations"></g>
          </svg>
          <div class="apexcharts-legend" style="max-height: 35px"></div>
          <div class="apexcharts-tooltip apexcharts-theme-light">
            <div class="apexcharts-tooltip-series-group" style="order: 1">
              <span
                class="apexcharts-tooltip-marker"
                style="background-color: rgb(255, 159, 67)"
              ></span>
              <div
                class="apexcharts-tooltip-text"
                style="
                  font-family: Helvetica, Arial, sans-serif;
                  font-size: 12px;
                "
              >
                <div class="apexcharts-tooltip-y-group">
                  <span class="apexcharts-tooltip-text-label"></span
                  ><span class="apexcharts-tooltip-text-value"></span>
                </div>
                <div class="apexcharts-tooltip-z-group">
                  <span class="apexcharts-tooltip-text-z-label"></span
                  ><span class="apexcharts-tooltip-text-z-value"></span>
                </div>
              </div>
            </div>
          </div>
          <div
            class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light"
          >
            <div class="apexcharts-yaxistooltip-text"></div>
          </div>
        </div>
      </div>
      <div class="resize-triggers">
        <div class="expand-trigger">
          <div style="width: 195px; height: 179px"></div>
        </div>
        <div class="contract-trigger"></div>
      </div>
    </div>
  </div>
</div>
<!--/ Bar Chart - Orders -->
