<!-- Browser States Card -->
<div class="col-lg-4 col-md-6 col-12">
  <div class="card card-browser-states">
    <div class="card-header">
      <div>
        <h4 class="card-title">Browser States</h4>
        <p class="card-text font-small-2">Counter August 2020</p>
      </div>
      <div class="dropdown chart-dropdown">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="14"
          height="14"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-more-vertical font-medium-3 cursor-pointer"
          data-bs-toggle="dropdown"
        >
          <circle cx="12" cy="12" r="1"></circle>
          <circle cx="12" cy="5" r="1"></circle>
          <circle cx="12" cy="19" r="1"></circle>
        </svg>
        <div class="dropdown-menu dropdown-menu-end">
          <a class="dropdown-item" href="#">Last 28 Days</a>
          <a class="dropdown-item" href="#">Last Month</a>
          <a class="dropdown-item" href="#">Last Year</a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="browser-states">
        <div class="d-flex">
          <img
            src="assets/images/icons/google-chrome.png"
            class="rounded me-1"
            height="30"
            alt="Google Chrome"
          />
          <h6 class="align-self-center mb-0">Google Chrome</h6>
        </div>
        <div class="d-flex align-items-center" style="position: relative">
          <div class="fw-bold text-body-heading me-1">54.4%</div>
          <div id="browser-state-chart-primary" style="min-height: 35.7px">
            <div
              id="apexcharts9u30g4zi"
              class="apexcharts-canvas apexcharts9u30g4zi apexcharts-theme-light"
              style="width: 30px; height: 35.7px"
            >
              <svg
                id="SvgjsSvg4440"
                width="30"
                height="35.699999999999996"
                xmlns="http://www.w3.org/2000/svg"
                version="1.1"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:svgjs="http://svgjs.com/svgjs"
                class="apexcharts-svg"
                xmlns:data="ApexChartsNS"
                transform="translate(0, 0)"
                style="background: transparent"
              >
                <g
                  id="SvgjsG4442"
                  class="apexcharts-inner apexcharts-graphical"
                  transform="translate(-15, -12)"
                >
                  <defs id="SvgjsDefs4441">
                    <clipPath id="gridRectMask9u30g4zi">
                      <rect
                        id="SvgjsRect4444"
                        width="66"
                        height="59"
                        x="-3"
                        y="-1"
                        rx="0"
                        ry="0"
                        opacity="1"
                        stroke-width="0"
                        stroke="none"
                        stroke-dasharray="0"
                        fill="#fff"
                      ></rect>
                    </clipPath>
                    <clipPath id="gridRectMarkerMask9u30g4zi">
                      <rect
                        id="SvgjsRect4445"
                        width="64"
                        height="61"
                        x="-2"
                        y="-2"
                        rx="0"
                        ry="0"
                        opacity="1"
                        stroke-width="0"
                        stroke="none"
                        stroke-dasharray="0"
                        fill="#fff"
                      ></rect>
                    </clipPath>
                  </defs>
                  <g id="SvgjsG4446" class="apexcharts-radialbar">
                    <g id="SvgjsG4447">
                      <g id="SvgjsG4448" class="apexcharts-tracks">
                        <g
                          id="SvgjsG4449"
                          class="apexcharts-radialbar-track apexcharts-track"
                          rel="1"
                        >
                          <path
                            id="apexcharts-radialbarTrack-0"
                            d="M 30 17.843658536585362 A 12.156341463414638 12.156341463414638 0 1 1 29.997878318175438 17.84365872173703"
                            fill="none"
                            fill-opacity="1"
                            stroke="rgba(235,235,235,0.85)"
                            stroke-opacity="1"
                            stroke-linecap="round"
                            stroke-width="3.952395121951219"
                            stroke-dasharray="0"
                            class="apexcharts-radialbar-area"
                            data:pathOrig="M 30 17.843658536585362 A 12.156341463414638 12.156341463414638 0 1 1 29.997878318175438 17.84365872173703"
                          ></path>
                        </g>
                      </g>
                      <g id="SvgjsG4451">
                        <g
                          id="SvgjsG4454"
                          class="apexcharts-series apexcharts-radial-series"
                          seriesName="seriesx1"
                          rel="1"
                          data:realIndex="0"
                        >
                          <path
                            id="SvgjsPath4455"
                            d="M 30 17.843658536585362 A 12.156341463414638 12.156341463414638 0 1 1 26.649258182615842 41.68542541152726"
                            fill="none"
                            fill-opacity="0.85"
                            stroke="rgba(115,103,240,0.85)"
                            stroke-opacity="1"
                            stroke-linecap="round"
                            stroke-width="4.074634146341463"
                            stroke-dasharray="0"
                            class="apexcharts-radialbar-area apexcharts-radialbar-slice-0"
                            data:angle="196"
                            data:value="54.4"
                            index="0"
                            j="0"
                            data:pathOrig="M 30 17.843658536585362 A 12.156341463414638 12.156341463414638 0 1 1 26.649258182615842 41.68542541152726"
                          ></path>
                        </g>
                        <circle
                          id="SvgjsCircle4452"
                          r="5.180143902439028"
                          cx="30"
                          cy="30"
                          class="apexcharts-radialbar-hollow"
                          fill="transparent"
                        ></circle>
                        <g
                          id="SvgjsG4453"
                          class="apexcharts-datalabels-group"
                          transform="translate(0, 0) scale(1)"
                          style="opacity: 1"
                        ></g>
                      </g>
                    </g>
                  </g>
                  <line
                    id="SvgjsLine4456"
                    x1="0"
                    y1="0"
                    x2="60"
                    y2="0"
                    stroke="#b6b6b6"
                    stroke-dasharray="0"
                    stroke-width="1"
                    class="apexcharts-ycrosshairs"
                  ></line>
                  <line
                    id="SvgjsLine4457"
                    x1="0"
                    y1="0"
                    x2="60"
                    y2="0"
                    stroke-dasharray="0"
                    stroke-width="0"
                    class="apexcharts-ycrosshairs-hidden"
                  ></line>
                </g>
                <g id="SvgjsG4443" class="apexcharts-annotations"></g>
              </svg>
              <div class="apexcharts-legend"></div>
            </div>
          </div>
          <div class="resize-triggers">
            <div class="expand-trigger">
              <div style="width: 87px; height: 37px"></div>
            </div>
            <div class="contract-trigger"></div>
          </div>
        </div>
      </div>
      <div class="browser-states">
        <div class="d-flex">
          <img
            src="assets/images/icons/mozila-firefox.png"
            class="rounded me-1"
            height="30"
            alt="Mozila Firefox"
          />
          <h6 class="align-self-center mb-0">Mozila Firefox</h6>
        </div>
        <div class="d-flex align-items-center" style="position: relative">
          <div class="fw-bold text-body-heading me-1">6.1%</div>
          <div id="browser-state-chart-warning" style="min-height: 35.7px">
            <div
              id="apexcharts4mtefidp"
              class="apexcharts-canvas apexcharts4mtefidp apexcharts-theme-light"
              style="width: 30px; height: 35.7px"
            >
              <svg
                id="SvgjsSvg4458"
                width="30"
                height="35.699999999999996"
                xmlns="http://www.w3.org/2000/svg"
                version="1.1"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:svgjs="http://svgjs.com/svgjs"
                class="apexcharts-svg"
                xmlns:data="ApexChartsNS"
                transform="translate(0, 0)"
                style="background: transparent"
              >
                <g
                  id="SvgjsG4460"
                  class="apexcharts-inner apexcharts-graphical"
                  transform="translate(-15, -12)"
                >
                  <defs id="SvgjsDefs4459">
                    <clipPath id="gridRectMask4mtefidp">
                      <rect
                        id="SvgjsRect4462"
                        width="66"
                        height="59"
                        x="-3"
                        y="-1"
                        rx="0"
                        ry="0"
                        opacity="1"
                        stroke-width="0"
                        stroke="none"
                        stroke-dasharray="0"
                        fill="#fff"
                      ></rect>
                    </clipPath>
                    <clipPath id="gridRectMarkerMask4mtefidp">
                      <rect
                        id="SvgjsRect4463"
                        width="64"
                        height="61"
                        x="-2"
                        y="-2"
                        rx="0"
                        ry="0"
                        opacity="1"
                        stroke-width="0"
                        stroke="none"
                        stroke-dasharray="0"
                        fill="#fff"
                      ></rect>
                    </clipPath>
                  </defs>
                  <g id="SvgjsG4464" class="apexcharts-radialbar">
                    <g id="SvgjsG4465">
                      <g id="SvgjsG4466" class="apexcharts-tracks">
                        <g
                          id="SvgjsG4467"
                          class="apexcharts-radialbar-track apexcharts-track"
                          rel="1"
                        >
                          <path
                            id="apexcharts-radialbarTrack-0"
                            d="M 30 17.843658536585362 A 12.156341463414638 12.156341463414638 0 1 1 29.997878318175438 17.84365872173703"
                            fill="none"
                            fill-opacity="1"
                            stroke="rgba(235,235,235,0.85)"
                            stroke-opacity="1"
                            stroke-linecap="round"
                            stroke-width="3.952395121951219"
                            stroke-dasharray="0"
                            class="apexcharts-radialbar-area"
                            data:pathOrig="M 30 17.843658536585362 A 12.156341463414638 12.156341463414638 0 1 1 29.997878318175438 17.84365872173703"
                          ></path>
                        </g>
                      </g>
                      <g id="SvgjsG4469">
                        <g
                          id="SvgjsG4472"
                          class="apexcharts-series apexcharts-radial-series"
                          seriesName="seriesx1"
                          rel="1"
                          data:realIndex="0"
                        >
                          <path
                            id="SvgjsPath4473"
                            d="M 30 17.843658536585362 A 12.156341463414638 12.156341463414638 0 0 1 34.55384566401036 18.728836464521155"
                            fill="none"
                            fill-opacity="0.85"
                            stroke="rgba(255,159,67,0.85)"
                            stroke-opacity="1"
                            stroke-linecap="round"
                            stroke-width="4.074634146341463"
                            stroke-dasharray="0"
                            class="apexcharts-radialbar-area apexcharts-radialbar-slice-0"
                            data:angle="22"
                            data:value="6.1"
                            index="0"
                            j="0"
                            data:pathOrig="M 30 17.843658536585362 A 12.156341463414638 12.156341463414638 0 0 1 34.55384566401036 18.728836464521155"
                          ></path>
                        </g>
                        <circle
                          id="SvgjsCircle4470"
                          r="5.180143902439028"
                          cx="30"
                          cy="30"
                          class="apexcharts-radialbar-hollow"
                          fill="transparent"
                        ></circle>
                        <g
                          id="SvgjsG4471"
                          class="apexcharts-datalabels-group"
                          transform="translate(0, 0) scale(1)"
                          style="opacity: 1"
                        ></g>
                      </g>
                    </g>
                  </g>
                  <line
                    id="SvgjsLine4474"
                    x1="0"
                    y1="0"
                    x2="60"
                    y2="0"
                    stroke="#b6b6b6"
                    stroke-dasharray="0"
                    stroke-width="1"
                    class="apexcharts-ycrosshairs"
                  ></line>
                  <line
                    id="SvgjsLine4475"
                    x1="0"
                    y1="0"
                    x2="60"
                    y2="0"
                    stroke-dasharray="0"
                    stroke-width="0"
                    class="apexcharts-ycrosshairs-hidden"
                  ></line>
                </g>
                <g id="SvgjsG4461" class="apexcharts-annotations"></g>
              </svg>
              <div class="apexcharts-legend"></div>
            </div>
          </div>
          <div class="resize-triggers">
            <div class="expand-trigger">
              <div style="width: 74px; height: 37px"></div>
            </div>
            <div class="contract-trigger"></div>
          </div>
        </div>
      </div>
      <div class="browser-states">
        <div class="d-flex">
          <img
            src="assets/images/icons/apple-safari.png"
            class="rounded me-1"
            height="30"
            alt="Apple Safari"
          />
          <h6 class="align-self-center mb-0">Apple Safari</h6>
        </div>
        <div class="d-flex align-items-center" style="position: relative">
          <div class="fw-bold text-body-heading me-1">14.6%</div>
          <div id="browser-state-chart-secondary" style="min-height: 35.7px">
            <div
              id="apexchartsm82t5smm"
              class="apexcharts-canvas apexchartsm82t5smm apexcharts-theme-light"
              style="width: 30px; height: 35.7px"
            >
              <svg
                id="SvgjsSvg4476"
                width="30"
                height="35.699999999999996"
                xmlns="http://www.w3.org/2000/svg"
                version="1.1"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:svgjs="http://svgjs.com/svgjs"
                class="apexcharts-svg"
                xmlns:data="ApexChartsNS"
                transform="translate(0, 0)"
                style="background: transparent"
              >
                <g
                  id="SvgjsG4478"
                  class="apexcharts-inner apexcharts-graphical"
                  transform="translate(-15, -12)"
                >
                  <defs id="SvgjsDefs4477">
                    <clipPath id="gridRectMaskm82t5smm">
                      <rect
                        id="SvgjsRect4480"
                        width="66"
                        height="59"
                        x="-3"
                        y="-1"
                        rx="0"
                        ry="0"
                        opacity="1"
                        stroke-width="0"
                        stroke="none"
                        stroke-dasharray="0"
                        fill="#fff"
                      ></rect>
                    </clipPath>
                    <clipPath id="gridRectMarkerMaskm82t5smm">
                      <rect
                        id="SvgjsRect4481"
                        width="64"
                        height="61"
                        x="-2"
                        y="-2"
                        rx="0"
                        ry="0"
                        opacity="1"
                        stroke-width="0"
                        stroke="none"
                        stroke-dasharray="0"
                        fill="#fff"
                      ></rect>
                    </clipPath>
                  </defs>
                  <g id="SvgjsG4482" class="apexcharts-radialbar">
                    <g id="SvgjsG4483">
                      <g id="SvgjsG4484" class="apexcharts-tracks">
                        <g
                          id="SvgjsG4485"
                          class="apexcharts-radialbar-track apexcharts-track"
                          rel="1"
                        >
                          <path
                            id="apexcharts-radialbarTrack-0"
                            d="M 30 17.843658536585362 A 12.156341463414638 12.156341463414638 0 1 1 29.997878318175438 17.84365872173703"
                            fill="none"
                            fill-opacity="1"
                            stroke="rgba(235,235,235,0.85)"
                            stroke-opacity="1"
                            stroke-linecap="round"
                            stroke-width="3.952395121951219"
                            stroke-dasharray="0"
                            class="apexcharts-radialbar-area"
                            data:pathOrig="M 30 17.843658536585362 A 12.156341463414638 12.156341463414638 0 1 1 29.997878318175438 17.84365872173703"
                          ></path>
                        </g>
                      </g>
                      <g id="SvgjsG4487">
                        <g
                          id="SvgjsG4490"
                          class="apexcharts-series apexcharts-radial-series"
                          seriesName="seriesx1"
                          rel="1"
                          data:realIndex="0"
                        >
                          <path
                            id="SvgjsPath4491"
                            d="M 30 17.843658536585362 A 12.156341463414638 12.156341463414638 0 0 1 39.70848596494321 22.684131080750916"
                            fill="none"
                            fill-opacity="0.85"
                            stroke="rgba(130,134,139,0.85)"
                            stroke-opacity="1"
                            stroke-linecap="round"
                            stroke-width="4.074634146341463"
                            stroke-dasharray="0"
                            class="apexcharts-radialbar-area apexcharts-radialbar-slice-0"
                            data:angle="53"
                            data:value="14.6"
                            index="0"
                            j="0"
                            data:pathOrig="M 30 17.843658536585362 A 12.156341463414638 12.156341463414638 0 0 1 39.70848596494321 22.684131080750916"
                          ></path>
                        </g>
                        <circle
                          id="SvgjsCircle4488"
                          r="5.180143902439028"
                          cx="30"
                          cy="30"
                          class="apexcharts-radialbar-hollow"
                          fill="transparent"
                        ></circle>
                        <g
                          id="SvgjsG4489"
                          class="apexcharts-datalabels-group"
                          transform="translate(0, 0) scale(1)"
                          style="opacity: 1"
                        ></g>
                      </g>
                    </g>
                  </g>
                  <line
                    id="SvgjsLine4492"
                    x1="0"
                    y1="0"
                    x2="60"
                    y2="0"
                    stroke="#b6b6b6"
                    stroke-dasharray="0"
                    stroke-width="1"
                    class="apexcharts-ycrosshairs"
                  ></line>
                  <line
                    id="SvgjsLine4493"
                    x1="0"
                    y1="0"
                    x2="60"
                    y2="0"
                    stroke-dasharray="0"
                    stroke-width="0"
                    class="apexcharts-ycrosshairs-hidden"
                  ></line>
                </g>
                <g id="SvgjsG4479" class="apexcharts-annotations"></g>
              </svg>
              <div class="apexcharts-legend"></div>
            </div>
          </div>
          <div class="resize-triggers">
            <div class="expand-trigger">
              <div style="width: 84px; height: 37px"></div>
            </div>
            <div class="contract-trigger"></div>
          </div>
        </div>
      </div>
      <div class="browser-states">
        <div class="d-flex">
          <img
            src="assets/images/icons/internet-explorer.png"
            class="rounded me-1"
            height="30"
            alt="Internet Explorer"
          />
          <h6 class="align-self-center mb-0">Internet Explorer</h6>
        </div>
        <div class="d-flex align-items-center" style="position: relative">
          <div class="fw-bold text-body-heading me-1">4.2%</div>
          <div id="browser-state-chart-info" style="min-height: 35.7px">
            <div
              id="apexchartss4rixamb"
              class="apexcharts-canvas apexchartss4rixamb apexcharts-theme-light"
              style="width: 30px; height: 35.7px"
            >
              <svg
                id="SvgjsSvg4494"
                width="30"
                height="35.699999999999996"
                xmlns="http://www.w3.org/2000/svg"
                version="1.1"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:svgjs="http://svgjs.com/svgjs"
                class="apexcharts-svg"
                xmlns:data="ApexChartsNS"
                transform="translate(0, 0)"
                style="background: transparent"
              >
                <g
                  id="SvgjsG4496"
                  class="apexcharts-inner apexcharts-graphical"
                  transform="translate(-15, -12)"
                >
                  <defs id="SvgjsDefs4495">
                    <clipPath id="gridRectMasks4rixamb">
                      <rect
                        id="SvgjsRect4498"
                        width="66"
                        height="59"
                        x="-3"
                        y="-1"
                        rx="0"
                        ry="0"
                        opacity="1"
                        stroke-width="0"
                        stroke="none"
                        stroke-dasharray="0"
                        fill="#fff"
                      ></rect>
                    </clipPath>
                    <clipPath id="gridRectMarkerMasks4rixamb">
                      <rect
                        id="SvgjsRect4499"
                        width="64"
                        height="61"
                        x="-2"
                        y="-2"
                        rx="0"
                        ry="0"
                        opacity="1"
                        stroke-width="0"
                        stroke="none"
                        stroke-dasharray="0"
                        fill="#fff"
                      ></rect>
                    </clipPath>
                  </defs>
                  <g id="SvgjsG4500" class="apexcharts-radialbar">
                    <g id="SvgjsG4501">
                      <g id="SvgjsG4502" class="apexcharts-tracks">
                        <g
                          id="SvgjsG4503"
                          class="apexcharts-radialbar-track apexcharts-track"
                          rel="1"
                        >
                          <path
                            id="apexcharts-radialbarTrack-0"
                            d="M 30 17.843658536585362 A 12.156341463414638 12.156341463414638 0 1 1 29.997878318175438 17.84365872173703"
                            fill="none"
                            fill-opacity="1"
                            stroke="rgba(235,235,235,0.85)"
                            stroke-opacity="1"
                            stroke-linecap="round"
                            stroke-width="3.952395121951219"
                            stroke-dasharray="0"
                            class="apexcharts-radialbar-area"
                            data:pathOrig="M 30 17.843658536585362 A 12.156341463414638 12.156341463414638 0 1 1 29.997878318175438 17.84365872173703"
                          ></path>
                        </g>
                      </g>
                      <g id="SvgjsG4505">
                        <g
                          id="SvgjsG4508"
                          class="apexcharts-series apexcharts-radial-series"
                          seriesName="seriesx1"
                          rel="1"
                          data:realIndex="0"
                        >
                          <path
                            id="SvgjsPath4509"
                            d="M 30 17.843658536585362 A 12.156341463414638 12.156341463414638 0 0 1 33.14629268950116 18.257875827299152"
                            fill="none"
                            fill-opacity="0.85"
                            stroke="rgba(0,207,232,0.85)"
                            stroke-opacity="1"
                            stroke-linecap="round"
                            stroke-width="4.074634146341463"
                            stroke-dasharray="0"
                            class="apexcharts-radialbar-area apexcharts-radialbar-slice-0"
                            data:angle="15"
                            data:value="4.2"
                            index="0"
                            j="0"
                            data:pathOrig="M 30 17.843658536585362 A 12.156341463414638 12.156341463414638 0 0 1 33.14629268950116 18.257875827299152"
                          ></path>
                        </g>
                        <circle
                          id="SvgjsCircle4506"
                          r="5.180143902439028"
                          cx="30"
                          cy="30"
                          class="apexcharts-radialbar-hollow"
                          fill="transparent"
                        ></circle>
                        <g
                          id="SvgjsG4507"
                          class="apexcharts-datalabels-group"
                          transform="translate(0, 0) scale(1)"
                          style="opacity: 1"
                        ></g>
                      </g>
                    </g>
                  </g>
                  <line
                    id="SvgjsLine4510"
                    x1="0"
                    y1="0"
                    x2="60"
                    y2="0"
                    stroke="#b6b6b6"
                    stroke-dasharray="0"
                    stroke-width="1"
                    class="apexcharts-ycrosshairs"
                  ></line>
                  <line
                    id="SvgjsLine4511"
                    x1="0"
                    y1="0"
                    x2="60"
                    y2="0"
                    stroke-dasharray="0"
                    stroke-width="0"
                    class="apexcharts-ycrosshairs-hidden"
                  ></line>
                </g>
                <g id="SvgjsG4497" class="apexcharts-annotations"></g>
              </svg>
              <div class="apexcharts-legend"></div>
            </div>
          </div>
          <div class="resize-triggers">
            <div class="expand-trigger">
              <div style="width: 79px; height: 37px"></div>
            </div>
            <div class="contract-trigger"></div>
          </div>
        </div>
      </div>
      <div class="browser-states">
        <div class="d-flex">
          <img
            src="assets/images/icons/opera.png"
            class="rounded me-1"
            height="30"
            alt="Opera Mini"
          />
          <h6 class="align-self-center mb-0">Opera Mini</h6>
        </div>
        <div class="d-flex align-items-center" style="position: relative">
          <div class="fw-bold text-body-heading me-1">8.4%</div>
          <div id="browser-state-chart-danger" style="min-height: 35.7px">
            <div
              id="apexchartseuxml8ev"
              class="apexcharts-canvas apexchartseuxml8ev apexcharts-theme-light"
              style="width: 30px; height: 35.7px"
            >
              <svg
                id="SvgjsSvg4512"
                width="30"
                height="35.699999999999996"
                xmlns="http://www.w3.org/2000/svg"
                version="1.1"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:svgjs="http://svgjs.com/svgjs"
                class="apexcharts-svg"
                xmlns:data="ApexChartsNS"
                transform="translate(0, 0)"
                style="background: transparent"
              >
                <g
                  id="SvgjsG4514"
                  class="apexcharts-inner apexcharts-graphical"
                  transform="translate(-15, -12)"
                >
                  <defs id="SvgjsDefs4513">
                    <clipPath id="gridRectMaskeuxml8ev">
                      <rect
                        id="SvgjsRect4516"
                        width="66"
                        height="59"
                        x="-3"
                        y="-1"
                        rx="0"
                        ry="0"
                        opacity="1"
                        stroke-width="0"
                        stroke="none"
                        stroke-dasharray="0"
                        fill="#fff"
                      ></rect>
                    </clipPath>
                    <clipPath id="gridRectMarkerMaskeuxml8ev">
                      <rect
                        id="SvgjsRect4517"
                        width="64"
                        height="61"
                        x="-2"
                        y="-2"
                        rx="0"
                        ry="0"
                        opacity="1"
                        stroke-width="0"
                        stroke="none"
                        stroke-dasharray="0"
                        fill="#fff"
                      ></rect>
                    </clipPath>
                  </defs>
                  <g id="SvgjsG4518" class="apexcharts-radialbar">
                    <g id="SvgjsG4519">
                      <g id="SvgjsG4520" class="apexcharts-tracks">
                        <g
                          id="SvgjsG4521"
                          class="apexcharts-radialbar-track apexcharts-track"
                          rel="1"
                        >
                          <path
                            id="apexcharts-radialbarTrack-0"
                            d="M 30 17.843658536585362 A 12.156341463414638 12.156341463414638 0 1 1 29.997878318175438 17.84365872173703"
                            fill="none"
                            fill-opacity="1"
                            stroke="rgba(235,235,235,0.85)"
                            stroke-opacity="1"
                            stroke-linecap="round"
                            stroke-width="3.952395121951219"
                            stroke-dasharray="0"
                            class="apexcharts-radialbar-area"
                            data:pathOrig="M 30 17.843658536585362 A 12.156341463414638 12.156341463414638 0 1 1 29.997878318175438 17.84365872173703"
                          ></path>
                        </g>
                      </g>
                      <g id="SvgjsG4523">
                        <g
                          id="SvgjsG4526"
                          class="apexcharts-series apexcharts-radial-series"
                          seriesName="seriesx1"
                          rel="1"
                          data:realIndex="0"
                        >
                          <path
                            id="SvgjsPath4527"
                            d="M 30 17.843658536585362 A 12.156341463414638 12.156341463414638 0 0 1 36.07817073170732 19.472299475604824"
                            fill="none"
                            fill-opacity="0.85"
                            stroke="rgba(234,84,85,0.85)"
                            stroke-opacity="1"
                            stroke-linecap="round"
                            stroke-width="4.074634146341463"
                            stroke-dasharray="0"
                            class="apexcharts-radialbar-area apexcharts-radialbar-slice-0"
                            data:angle="30"
                            data:value="8.4"
                            index="0"
                            j="0"
                            data:pathOrig="M 30 17.843658536585362 A 12.156341463414638 12.156341463414638 0 0 1 36.07817073170732 19.472299475604824"
                          ></path>
                        </g>
                        <circle
                          id="SvgjsCircle4524"
                          r="5.180143902439028"
                          cx="30"
                          cy="30"
                          class="apexcharts-radialbar-hollow"
                          fill="transparent"
                        ></circle>
                        <g
                          id="SvgjsG4525"
                          class="apexcharts-datalabels-group"
                          transform="translate(0, 0) scale(1)"
                          style="opacity: 1"
                        ></g>
                      </g>
                    </g>
                  </g>
                  <line
                    id="SvgjsLine4528"
                    x1="0"
                    y1="0"
                    x2="60"
                    y2="0"
                    stroke="#b6b6b6"
                    stroke-dasharray="0"
                    stroke-width="1"
                    class="apexcharts-ycrosshairs"
                  ></line>
                  <line
                    id="SvgjsLine4529"
                    x1="0"
                    y1="0"
                    x2="60"
                    y2="0"
                    stroke-dasharray="0"
                    stroke-width="0"
                    class="apexcharts-ycrosshairs-hidden"
                  ></line>
                </g>
                <g id="SvgjsG4515" class="apexcharts-annotations"></g>
              </svg>
              <div class="apexcharts-legend"></div>
            </div>
          </div>
          <div class="resize-triggers">
            <div class="expand-trigger">
              <div style="width: 79px; height: 37px"></div>
            </div>
            <div class="contract-trigger"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Browser States Card -->
