<!-- Transaction Card -->
<div class="col-lg-4 col-md-6 col-12">
  <div class="card card-transaction">
    <div class="card-header">
      <h4 class="card-title">Transactions</h4>
      <div class="dropdown chart-dropdown">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="14"
          height="14"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-more-vertical font-medium-3 cursor-pointer"
          data-bs-toggle="dropdown"
        >
          <circle cx="12" cy="12" r="1"></circle>
          <circle cx="12" cy="5" r="1"></circle>
          <circle cx="12" cy="19" r="1"></circle>
        </svg>
        <div class="dropdown-menu dropdown-menu-end">
          <a class="dropdown-item" href="#">Last 28 Days</a>
          <a class="dropdown-item" href="#">Last Month</a>
          <a class="dropdown-item" href="#">Last Year</a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="transaction-item">
        <div class="d-flex">
          <div class="avatar bg-light-primary rounded float-start">
            <div class="avatar-content">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="14"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-pocket avatar-icon font-medium-3"
              >
                <path
                  d="M4 3h16a2 2 0 0 1 2 2v6a10 10 0 0 1-10 10A10 10 0 0 1 2 11V5a2 2 0 0 1 2-2z"
                ></path>
                <polyline points="8 10 12 14 16 10"></polyline>
              </svg>
            </div>
          </div>
          <div class="transaction-percentage">
            <h6 class="transaction-title">Wallet</h6>
            <small>Starbucks</small>
          </div>
        </div>
        <div class="fw-bolder text-danger">- $74</div>
      </div>
      <div class="transaction-item">
        <div class="d-flex">
          <div class="avatar bg-light-success rounded float-start">
            <div class="avatar-content">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="14"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-check avatar-icon font-medium-3"
              >
                <polyline points="20 6 9 17 4 12"></polyline>
              </svg>
            </div>
          </div>
          <div class="transaction-percentage">
            <h6 class="transaction-title">Bank Transfer</h6>
            <small>Add Money</small>
          </div>
        </div>
        <div class="fw-bolder text-success">+ $480</div>
      </div>
      <div class="transaction-item">
        <div class="d-flex">
          <div class="avatar bg-light-danger rounded float-start">
            <div class="avatar-content">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="14"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-dollar-sign avatar-icon font-medium-3"
              >
                <line x1="12" y1="1" x2="12" y2="23"></line>
                <path
                  d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"
                ></path>
              </svg>
            </div>
          </div>
          <div class="transaction-percentage">
            <h6 class="transaction-title">Paypal</h6>
            <small>Add Money</small>
          </div>
        </div>
        <div class="fw-bolder text-success">+ $590</div>
      </div>
      <div class="transaction-item">
        <div class="d-flex">
          <div class="avatar bg-light-warning rounded float-start">
            <div class="avatar-content">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="14"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-credit-card avatar-icon font-medium-3"
              >
                <rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect>
                <line x1="1" y1="10" x2="23" y2="10"></line>
              </svg>
            </div>
          </div>
          <div class="transaction-percentage">
            <h6 class="transaction-title">Mastercard</h6>
            <small>Ordered Food</small>
          </div>
        </div>
        <div class="fw-bolder text-danger">- $23</div>
      </div>
      <div class="transaction-item">
        <div class="d-flex">
          <div class="avatar bg-light-info rounded float-start">
            <div class="avatar-content">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="14"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-trending-up avatar-icon font-medium-3"
              >
                <polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline>
                <polyline points="17 6 23 6 23 12"></polyline>
              </svg>
            </div>
          </div>
          <div class="transaction-percentage">
            <h6 class="transaction-title">Transfer</h6>
            <small>Refund</small>
          </div>
        </div>
        <div class="fw-bolder text-success">+ $98</div>
      </div>
    </div>
  </div>
</div>
<!--/ Transaction Card -->
