<!-- Dashboard Ecommerce Starts -->
<section id="dashboard-ecommerce">
  <div class="row match-height">
    <app-medal-card class="col-xl-4 col-md-6 col-12"></app-medal-card>
    <app-statistics-card class="col-xl-8 col-md-6 col-12"></app-statistics-card>
  </div>

  <div class="row match-height">
    <div class="col-lg-4 col-12">
      <div class="row match-height">
        <app-bar-chart class="col-lg-6 col-md-3 col-6"></app-bar-chart>

        <app-line-chart class="col-lg-6 col-md-3 col-6"></app-line-chart>

        <app-earnings-card
          class="col-lg-12 col-md-6 col-12"
        ></app-earnings-card>
      </div>
    </div>

    <app-revenue-report-card></app-revenue-report-card>
  </div>

  <div class="row match-height">
    <app-company-table-card></app-company-table-card>

    <app-developer-meetup-card></app-developer-meetup-card>

    <app-browser-states-card></app-browser-states-card>

    <app-goal-overview-card></app-goal-overview-card>

    <app-transaction-card></app-transaction-card>
  </div>
</section>
<!-- Dashboard Ecommerce ends -->
