<!-- BEGIN Language Dropdown -->
<li ngbDropdown class="nav-item dropdown dropdown-language">
  <a
    ngbDropdownToggle
    class="nav-link dropdown-toggle"
    id="dropdown-flag"
    href="#"
    data-bs-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    ><i class="flag-icon flag-icon-us"></i
    ><span class="selected-language">English</span></a
  >
  <div
    ngbDropdownMenu
    class="dropdown-menu dropdown-menu-end"
    aria-labelledby="dropdown-flag"
  >
    <a ngbDropdownItem class="dropdown-item" href="#" data-language="en"
      ><i class="flag-icon flag-icon-us"></i> English</a
    ><a ngbDropdownItem class="dropdown-item" href="#" data-language="fr"
      ><i class="flag-icon flag-icon-fr"></i> French</a
    ><a ngbDropdownItem class="dropdown-item" href="#" data-language="de"
      ><i class="flag-icon flag-icon-de"></i> German</a
    ><a ngbDropdownItem class="dropdown-item" href="#" data-language="pt"
      ><i class="flag-icon flag-icon-pt"></i> Portuguese</a
    >
  </div>
</li>
<!-- END Language Dropdown -->
